---
import { Img, Picture } from "astro-imagetools/components";
import probe from "probe-image-size";
import Layout from "../layouts/Layout.astro";
import Footer from "../components/Footer.astro";
import { PERSONAL_INFO } from "../consts";

// add
// assets/arisce.jpg
// 	assets/hello-there.png
// 	assets/jessica-lounge.jpg
// 	assets/kait-couch-1-crop.jpg
// 	assets/kait-kara-vintage-2.jpg
// 	assets/meds.png
// 	assets/sam-dress-edit.jpg

const imageData = [
  {
    label: "Underwater Show",
    href: "https://photos.bravecottrell.com/assets/underwater-show.jpg",
  },
  {
    label: "Cello's Embrace",
    href: "https://photos.bravecottrell.com/assets/cell-2019-jonathan-cottrell.jpg",
  },
  {
    label: "Owl Boy",
    href: "https://photos.bravecottrell.com/assets/daniel-fowlboy.jpg",
  },
  {
    label: "Arisce Wanzer",
    href: "https://photos.bravecottrell.com/assets/arisce.jpg",
  },
  {
    label: "Anonymous Exchange",
    href: "https://photos.bravecottrell.com/assets/hello-there.png",
  },
  {
    label: "Lounge in Pink",
    href: "https://photos.bravecottrell.com/assets/jessica-lounge.jpg",
  },
  {
    label: "Vintage on the Couch",
    href: "https://photos.bravecottrell.com/assets/kait-couch-1-crop.jpg",
  },
  {
    label: "Life-saving poison",
    href: "https://photos.bravecottrell.com/assets/meds.png",
  },
  {
    label: "His Dress",
    href: "https://photos.bravecottrell.com/assets/sam-dress-edit.jpg",
  },
  {
    label: "Kait & Kara",
    href: "https://photos.bravecottrell.com/assets/kait-kara-vintage-2.jpg",
  },
  {
    label: "Emoja Lisa",
    href: "https://photos.bravecottrell.com/assets/emoja-lisa.png",
  },
  {
    label: "Mermaid Meditation",
    href: "https://photos.bravecottrell.com/assets/mary.jpg",
  },
];

const images = await Promise.all(
  imageData.map(async (data) => {
    const label = data.label;
    const href = data.href;
    const size = await probe(href);

    return { label, href, size };
  })
);
---

<Layout title={PERSONAL_INFO.title}>
  <div class="py-4 sm:py-6 lg:py-8 flex flex-col justify-between h-screen">
    <main class="mb-auto">
      <div class="my-8 sm:my-12">
        <h2
          class="text-gray-800 dark:text-white text-2xl md:text-3xl lg:text-4xl text-center mb-4 md:mb-6 font-semibold"
        >
          {PERSONAL_INFO.title}
        </h2>

        <p
          class="max-w-screen-md dark:text-slate-400 text-gray-500 md:text-lg text-center mx-auto"
        >
          {PERSONAL_INFO.subtitle}
        </p>
      </div>

      <div class="max-w-screen-xl px-4 md:px-8 mx-auto">
        <div
          id="my-gallery"
          class="pswp-gallery grid grid-cols-2 sm:grid-cols-3 lg:grid-cols-4 gap-4 md:gap-6 xl:gap-8 gallery"
        >
          {
            images.map((image) => (
              <a
                href={image.href}
                data-cropped="true"
                data-pswp-width={image.size.width}
                data-pswp-height={image.size.height}
                class="group h-72 md:h-96 flex justify-end items-end bg-gray-100 overflow-hidden rounded-xl shadow-lg relative gallery-item hover:shadow-xl"
              >
                <div
                  class={`h-full w-full object-cover object-center flex absolute inset-0 group-hover:scale-110 transition duration-200 text-transparent`}
                >
                  <img
                    src={image.href}
                    alt={image.label}
                    class="object-cover"
                  />
                </div>

                <div class="bg-gradient-to-t from-black via-transparent to-transparent opacity-20 absolute inset-0 pointer-events-none group-hover:opacity-0 transition duration-200" />

                <span class="inline-block text-gray-200 text-xs md:text-sm border border-gray-500 rounded-lg backdrop-blur relative px-2 md:px-3 py-1 mr-3 mb-3 group-hover:opacity-0 transition duration-200">
                  {image.label}
                </span>
              </a>
            ))
          }
        </div>
      </div>
    </main>

    <Footer />
  </div>
</Layout>
